/* ð™¼ðšŠðš’ðš— ð™²ðš‚ðš‚ ðš‚ðšðš¢ðš•ðšŽðšœðš‘ðšŽðšŽðš */

/* ============= */
/* =========== GENERAL =========== */
/* ============= */

html {
    font-size: 14px !important;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    max-width: 100%;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

.outermost_wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
    border-top: 5px solid #005797;
}

.title-font {
    font-family: 'Nexa', sans-serif;
    font-weight: 600;
    color: #666666;
}

a:hover {
    text-decoration: none !important;
}

a:focus, button:focus {
    outline: none !important;
    /*border: none !important;*/
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

input:disabled, input[disabled] {
    opacity: 0.5 !important;
}




/* ============= */
/* =========== NAVIGATION =========== */
/* ============= */

.nav {
    transition: 0.4s all ease-in-out;
}

.bg-light {
    /*position: relative;*/
    z-index: 10;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #FFFFFF !important;
    box-shadow: 0 33px 119px rgba(0, 0, 0, 0.04);

    transition: 0.4s all ease-in-out;
}

img.nav_logo {
    display: inline-block;
    width: 160px;
    height: 69px;
}

ul.ortrx_navbar {
    position: relative;
    top: 5px;
    z-index: 7;
}

li.nav-item {
    margin-right: 24px;
}

li.nav-item:nth-child(6) {
    margin-right: 18px;
}

li.nav-item a {
    font-size: 1.143rem;
    font-weight: 400;
    color: #666666;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {color: #666666;}

li.nav-item > a:after {
    content: '';
    display: block;
    height: 2px;
    position: relative;
    bottom: -42px;
    background: #00A5E7;
    transform: scaleX(0);
    transition: transform .3s;
}
li.nav-item > a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}
li.nav-item > a.active:after {
    color: #00A5E7 !important;
}

ul.ortrx_dropdown_menu {
    width: 200px;
    top: 67px !important;
    left: 6px !important;
    border-radius: 1px;
    border: none;
    padding: 0;
    background-color: #f1f1f1;
}

ul.ortrx_dropdown_menu li {
    line-height: 44px;
}

ul.ortrx_dropdown_menu li:first-child {
    border-top: none;
    border-bottom: 1px solid #ffffff;
}

ul.ortrx_dropdown_menu li:nth-child(2) {
    border-top: none;
    border-bottom: 1px solid #ffffff;
}
ul.ortrx_dropdown_menu li:nth-child(3) {
    border-top: none;
    border-bottom: 1px solid #ffffff;
}
ul.ortrx_dropdown_menu li:nth-child(4) {
    border-top: none;
    border-bottom: 1px solid #ffffff;
}
ul.ortrx_dropdown_menu li:nth-child(5) {
    border-top: none;
    border-bottom: 1px solid #ffffff;
}
ul.ortrx_dropdown_menu li:nth-child(6) {
    border-top: none;
    border-bottom: 1px solid #ffffff;
}

ul.ortrx_dropdown_menu li:last-child {
    border-top: none;
    border-bottom: none;
}

ul.ortrx_dropdown_menu li a {
    transition: all 0.4s ease-in;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    font-weight: 500;
    background-color: #00A5E7;
}

.dropdown-item:hover i.dropdownarrow {
    color: #ffffff;
}

i.dropdownarrow {
    color: #f1f1f1;
    float: right;
    position: relative;
    top: 13px;
}

button.navbtn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.ortrx_nav_toggler {
    position: relative;
    top: -4px;
    border: none !important;
}

.ortrx_nav_toggler:focus {
    box-shadow: 0 0 0 0.0rem;
}

.ortrx_nav_toggler > span.navbar-toggler-icon {
    transition: 0.4s all ease-in-out;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,89,143, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.colorfuse {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227,190,57, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    transform: rotate(-90deg);
}

.ortrx_nav_toggler:not(:focus) > span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,89,143, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button.nav_signin_btn {
    position: relative;
    top: -3px;
    width: 135px;
    height: 46px;
    background: rgba(102, 102, 102, 0.05);
    border: 1px solid rgba(102, 102, 102, 0.2);
    border-radius: 100px;
    color: #666666;
    font-size: 1.143rem;
    font-weight: 400;
    transition: all 0.4s ease-in;
}

button.nav_signin_btn:hover {
    color: #ffffff;
    background: rgba(102, 102, 102, 1);
}

button.nav_register_btn {
    position: relative;
    top: -3px;
    width: 135px;
    height: 46px;
    background: rgba(0, 165, 231, 0.01);
    border: 1px solid rgba(0, 165, 231, 0.35);
    border-radius: 100px;
    color: #00A5E7;
    font-size: 1.143rem;
    font-weight: 400;
    transition: all 0.4s ease-in;
}

button.nav_register_btn:hover {
    color: #ffffff;
    background: #00A5E7;
}

/* Hamburger menu animation assets */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {background: #163656;}

.animated-icon1 span:nth-child(1) {top: 0;}

.animated-icon1 span:nth-child(2) {top: 10px;}

.animated-icon1 span:nth-child(3) {top: 20px;}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
rotate(-135deg);
    transform: rotate(-135deg);
}





/* ============= */
/* =========== HEADER =========== */
/* ============= */

.ortrx_header_area {
    position: relative;
    min-height: 700px;
    height: auto;
    width: 100%;
}

.carousel {padding: 0;}

.ortrx_header_slider {
    padding: 0;
}

.daslide {
    width: 100%;
    height: 700px;
    z-index: 1;
}

.daslide:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
}

.h_banner_home {
    display: block;
    position: absolute;
    z-index: 4;
    height: 500px;
    width: 58%;
    top: 150px;
    left: 11%;
}

.h_banner_home h1 {
    font-family: 'Nexa', sans-serif;
    font-size: 3.3rem;
    font-weight: 900;
    text-align: left;
    color: #ffffff;
    line-height: 1.1;
    margin-bottom: 18px;
}

.h_banner_home h2 {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    margin-bottom: 36px;
    width: 85%;
}

button.learn_more_cta_btn {
    position: relative;
    width: 210px;
    height: 55px;
    margin-bottom: 22px;
    background: #00A5E7;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 100px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 400;
    transition: all 0.4s ease-in;
}

button.learn_more_cta_btn:hover {
    color: #ffffff;
    background: rgba(0, 165, 231, 0.52);
}

hr.h_banner_separ {
    color: #ffffff;
}

.app_buttons_holder {
    position: relative;
    padding-top: 20px;
    z-index: 90;
}

a.storelinx {
    display: inline-block;
    position: relative;
    z-index: 90;
    width: 168px;
    height: 50px;
    margin-right: 6px;
}

a.storelinx.apple {
    background: url("../img/app-store-download.png") no-repeat;
    background-size: contain;
}

a.storelinx.google {
    background: url("../img/google-play-badge.png") no-repeat;
    background-size: contain;
}

.homepage_decoration {
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 488px;
    background: url('../img/homepage_header_decorative_polygon.png') no-repeat;
    background-size: contain;
}

.carousel-indicators [data-bs-target] {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.carousel-indicators {
    flex-direction: column;
    bottom: 45%;
    left: 80%;
}





/* ============= */
/* =========== THREE BOX AREA =========== */
/* ============= */

.three_box_area {
    position: relative;
    min-height: 650px;
    height: auto;
    width: 100%;
    background: #f8f8f8;
}

.three_box_outermost {
    position: relative;
    padding-top: 38px;
    display: flex;
    align-items: center;
}

img.docphone {
    position: relative;
    bottom: -13px;
    left: -40px;
    display: block;
    text-align: center;
    width: 100%;
    height: 600px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.ctabox_outermost {
    margin-right: 24px;
}

.ctabox {
    display: block;
    width: 230px;
    height: 342px;
    border-radius: 12px;
    box-shadow: 0 4px 240px rgba(0, 0, 0, 0.2);
}

.ctabox.darkblue {background: url("../img/darkblue.png") center center no-repeat; background-size: cover;}
.ctabox.cyan {background: url("../img/cyan.png") center center no-repeat;background-size: cover;}
.ctabox.purple {background: url("../img/purple.png") center center no-repeat;background-size: cover;}

.ctabox_inner {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 18px;
}

img.ctaboxicon {
    display: inline-flex;
    position: relative;
    text-align: center;
    width: 100%;
    height: 64px;
    object-fit: contain;
}

.cta_ttl_holder {
    padding-top: 56px;
    width: 80%;
    position: relative;
    height: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.cta_ttl_holder h3 {
    display: block;
    font-family: 'Nexa', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

a.ctalink {
    position: relative;
    bottom: -120px;
    transition: 0.4s all ease-in-out;
    opacity: 0.7;
}

a.ctalink:hover {
    opacity: 1;
}

img.circlink {
    position: relative;
    bottom: 0;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
}





/* ============= */
/* =========== WHO WE ARE =========== */
/* ============= */

.who_we_are_area {
    position: relative;
    min-height: 800px;
    height: auto;
    width: 100%;
    background: #fefefe;
}

.who_we_are_content_outermost {
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 75px;
}

.section_title_holder.leftaligned h2 {
    text-align: left;
}

.section_title_holder h2 {
    font-family: 'Nexa', sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

span.title_decoration {
    display: inline-block;
    width: 60px;
    height: 4px;
    background: url('../img/titledecoration.svg') center center no-repeat;
    background-size: contain;
}

article.standard_body_text.leftaligned {
    text-align: left;
}

article.standard_body_text {
    padding-top: 48px;
    margin-bottom: 28px;
}

article.standard_body_text p {
    font-size: 1.143rem;
    font-weight: normal;
    color: #666666;
    line-height: 1.6;
    margin-bottom: 18px;
}

.learnmore_btn_holder {
    padding-top: 24px;
}

button.learnmore_btn {
    width: 210px;
    height: 55px;
    font-size: 1.143rem;
    font-weight: 500;
    background: #00A5E7;
    color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 100px;
    transition: all 0.4s ease-in-out;
}

button.learnmore_btn:hover {
    background: rgba(0, 165, 231, 0.7);
    color: #ffffff;
}

img.who_we_are_image {
    display: block;
    text-align: center;
    width: 100%;
    height: 600px;
    object-fit: contain;
}





/* ============= */
/* =========== WHY OR TRAX =========== */
/* ============= */

.why_area {
    position: relative;
    min-height: 620px;
    height: auto;
    background: #fbfbfb;
    padding-top: 55px;
    padding-bottom: 45px;
}

.why_content_outermost {
    position: relative;
    padding-top: 60px;
}

.section_title_holder h2 {
    font-family: 'Nexa', sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.advantage_circles_and_icons_outermost {
    position: relative;
    padding-top: 75px;
}

.circle_icon_holder {
    text-align: center;
}

.solo_circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 124px;
    width: 124px;
    margin-bottom: 28px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 140px -6px rgba(0, 0, 0, 0.16);
}

img.why_icon {
    position: relative;
    height: 52px;
    width: 52px;
    text-align: center;
    object-fit: contain;
}

.circle_icon_holder p {
    font-size: 1.143rem;
    font-weight: 400;
    color: #666666;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}





/* ============= */
/* =========== FOOTER =========== */
/* ============= */

.ortrx_footer {
    position: relative;
    display: block;
    min-height: 630px;
    height: auto;
    padding-top: 70px;
    padding-bottom: 32px;
    background: url("../img/footer_bgd.svg") center center no-repeat;
    background-size: cover;
}

.footer_content_outermost {
    padding-top: 30px;
}

.ortrx_footer_logo_holder {
    text-align: center;
}

img.ortrxfooterlogo {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 95px;
    object-fit: contain;
    text-align: center;
    margin-bottom: 42px;
}

.footer_storelinks_holder {
    display: inline-block;
    text-align: center;
}

.footer_navigation_holder {
    padding-top: 85px;
    display: flex;
    justify-content: center;
}

ul.footer_navigation {
    text-align: center;
    padding: 0;
}

ul.footer_navigation li {
    list-style-type: none;
    float: left;
    margin-right: 44px;
}

ul.footer_navigation li:last-child {
    margin-right: 0;
}

ul.footer_navigation li a {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.4s ease;
}

ul.footer_navigation li a:hover {
    color: #d3f1ff;
}

span.footer_separator {
    position: relative;
    display: inline-block;
    height: 1px;
    width: 90%;
    margin-top: 55px;
    background: url("../img/f-separ.svg") center center no-repeat;
}

.footer_notes_holder {
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}

.footer_notes_holder small {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.footer_notes_holder small > span {
    font-weight: 600;
    color: #00A5E7;
}

.footer_socials_holder {
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

ul.footer_socials {
    text-align: center;
    padding: 0;
}

ul.footer_socials li {
    list-style-type: none;
    float: left;
    margin-right: 26px;
}

ul.footer_socials li:last-child {
    margin-right: 0;
}

ul.footer_socials li a {
    display: block;
    height: 28px;
    width: 28px;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

ul.footer_socials li a:hover {
    opacity: 0.7;
}

a.footersocicon.fb {background: url("../img/facebook.svg") center center no-repeat; background-size: contain;}
a.footersocicon.in {background: url("../img/linkedin.svg") center center no-repeat; background-size: contain;}
a.footersocicon.tw {background: url("../img/twitter.svg") center center no-repeat; background-size: contain;}


















